.moji-container {
  display: flex;
}

.moji-div {
  position: absolute;
  left: 50%;
  margin-left: -8vw;
  top: 10vh;
}

.username {
  position: relative;
  top: 4vh;
  font-size: 5vh;
  margin: 2vh 0 2vh 0;
}
